@import url("https://fonts.google.com/specimen/Outfit?preview.text=outfit&preview.text_type=custom&category=Sans+Serif");
@import url("https://fonts.google.com/specimen/Turret+Road?preview.text=Tjuvgods&preview.text_type=custom&category=Serif,Display,Monospace");

* {
  font-family: Outfit, sans-serif;
  box-sizing: border-box;

  --primary-red: #f56b6b;
  --secondary-red: #ef6c6c;
  --third-red: #f2a7a7;
  --grey: #f2f2f2;
  --black: #0d0d0d;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
