@import url("https://fonts.google.com/specimen/Outfit?preview.text=outfit&preview.text_type=custom&category=Sans+Serif");
@import url("https://fonts.google.com/specimen/Turret+Road?preview.text=Tjuvgods&preview.text_type=custom&category=Serif,Display,Monospace");

/* Root styling */
* {
  font-family: Outfit, sans-serif;
  box-sizing: border-box;

  --primary-red: #f56b6b;
  --secondary-red: #ef6c6c;
  --third-red: #f2a7a7;
  --grey: #f2f2f2;
  --black: #0d0d0d;
  --shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

/* Default settings */
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.display-font{
    font-family: "Turret Road", san-serif;
    font-size: 2rem;
}

/* Buttons */
.button-50 {
    appearance: button;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    -webkit-user-select: none;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .button-50:focus {
    text-decoration: none;
  }

  .button-50:hover {
    text-decoration: none;
  }

  .button-50:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }

  .kopKnapp{
    background-color: white;
    padding: clamp(1.5%, 2%, 3%) clamp(1.5%, 4%, 7%);
    font-size: clamp(12px, 3vw, 20px);
    border: 3px black solid;
    font-weight: bolder;
    text-align: center;
  }
