@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

/* Root styling */
* {
  font-family: Outfit, sans-serif;
  box-sizing: border-box;

  --primary-red: #f13d3c;
  --secondary-red: #ef6c6c;
  --third-red: #f2a7a7;
  --grey: #f2f2f2;
  --black: #000000;
  --shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
}

/* Default settings */
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.display-font{
    font-family: 'Turret Road', cursive;
    font-size: 2rem;
}

/* Buttons */
.button-50 {
    appearance: button;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    -webkit-user-select: none;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .button-50:focus {
    text-decoration: none;
  }

  .button-50:hover {
    text-decoration: none;
  }

  .button-50:active {
    box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
  }

  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }

  .kopKnapp{
    background-color: white;
    padding: clamp(1.5%, 2%, 3%) clamp(1.5%, 4%, 7%);
    font-size: clamp(12px, 3vw, 20px);
    border: 3px black solid;
    font-weight: bolder;
    text-align: center;
  }

  .action-btn {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: .3rem;
    border: 3px solid var(--black);
    text-align: center;
    background: transparent;
    font-family: Outfit, sans-serif;
    font-weight: 900;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--black);
    background-color: var(--grey);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
  }

  .action-btn:hover{
    transform: translateY(-4px);
    color: var(--black);
  }

  /* .link {
    margin-top: 1rem;
    text-decoration: none;
    color: var(--black);
  } */


  /* Scrollbar */
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background: var(--third-red);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--primary-red);
    border-radius: 100px;
  }
